@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #EDE8F5;
}

.text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    user-select: none; /* Standard syntax */
 }
 .text h1{
    font-size: 70px;
    margin-top: 80px;

 
 }

 .text p{
    margin: 20px auto;
    font-weight: 100;
    line-height:25px;
    
 }
.text p:hover{
    color:white;
    background-color:rgb(0, 0, 0);
    width:575px;
    border-radius: 25px;
}